{
  "openapi": "3.0.0",
  "info": {
    "title": "RenderCV API",
    "description": "API for interacting with RenderCV service for resume creation and management",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.rendercv.com/v1"
    }
  ],
  "paths": {
    "/styles": {
      "get": {
        "summary": "List all available styles",
        "operationId": "listStyles",
        "responses": {
          "200": {
            "description": "A list of available styles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Style"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/resume/{resumeId}": {
      "get": {
        "summary": "Get a resume by ID",
        "operationId": "getResume",
        "parameters": [
          {
            "name": "resumeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resume object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resume"
                }
              }
            }
          },
          "404": {
            "description": "Resume not found"
          }
        }
      },
      "put": {
        "summary": "Update a resume",
        "operationId": "updateResume",
        "parameters": [
          {
            "name": "resumeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResumeUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resume updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resume"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Resume not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a resume",
        "operationId": "deleteResume",
        "parameters": [
          {
            "name": "resumeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Resume deleted successfully"
          },
          "404": {
            "description": "Resume not found"
          }
        }
      }
    },
    "/resumes": {
      "post": {
        "summary": "Create a new resume",
        "operationId": "createResume",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResumeCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resume created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resume"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      },
      "get": {
        "summary": "List all resumes",
        "operationId": "listResumes",
        "responses": {
          "200": {
            "description": "A list of resumes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Resume"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/resume/{resumeId}/pdf": {
      "get": {
        "summary": "Generate PDF for a resume",
        "operationId": "generatePdf",
        "parameters": [
          {
            "name": "resumeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Resume not found"
          }
        }
      }
    },
    "/resume/{resumeId}/html": {
      "get": {
        "summary": "Generate HTML for a resume",
        "operationId": "generateHtml",
        "parameters": [
          {
            "name": "resumeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML content",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Resume not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Style": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "preview": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Resume": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "style": {
            "type": "string"
          },
          "content": {
            "$ref": "#/components/schemas/ResumeContent"
          }
        }
      },
      "ResumeContent": {
        "type": "object",
        "properties": {
          "basics": {
            "$ref": "#/components/schemas/Basics"
          },
          "work": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Work"
            }
          },
          "education": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Education"
            }
          },
          "skills": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Skill"
            }
          },
          "projects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Project"
            }
          },
          "volunteer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Volunteer"
            }
          },
          "awards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Award"
            }
          },
          "publications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Publication"
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Language"
            }
          },
          "interests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Interest"
            }
          },
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reference"
            }
          },
          "certificates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Certificate"
            }
          }
        }
      },
      "Basics": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "summary": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "profiles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Profile"
            }
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "region": {
            "type": "string"
          }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "network": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Work": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "summary": {
            "type": "string"
          },
          "highlights": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Education": {
        "type": "object",
        "properties": {
          "institution": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "area": {
            "type": "string"
          },
          "studyType": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "score": {
            "type": "string"
          },
          "courses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Skill": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "level": {
            "type": "string"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "highlights": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "entity": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Volunteer": {
        "type": "object",
        "properties": {
          "organization": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "summary": {
            "type": "string"
          },
          "highlights": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Award": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "awarder": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          }
        }
      },
      "Publication": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "publisher": {
            "type": "string"
          },
          "releaseDate": {
            "type": "string",
            "format": "date"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "summary": {
            "type": "string"
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string"
          },
          "fluency": {
            "type": "string"
          }
        }
      },
      "Interest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Reference": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          }
        }
      },
      "Certificate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "issuer": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ResumeCreateRequest": {
        "type": "object",
        "required": [
          "style",
          "content"
        ],
        "properties": {
          "style": {
            "type": "string"
          },
          "content": {
            "$ref": "#/components/schemas/ResumeContent"
          }
        }
      },
      "ResumeUpdateRequest": {
        "type": "object",
        "properties": {
          "style": {
            "type": "string"
          },
          "content": {
            "$ref": "#/components/schemas/ResumeContent"
          }
        }
      }
    }
  }
}