{
  "openapi": "3.0.0",
  "info": {
    "title": "NFE.io API - Nota Fiscal de Serviço v1",
    "description": "API para emissão e gerenciamento de Notas Fiscais de Serviço",
    "version": "1.0.0",
    "contact": {
      "name": "NFE.io",
      "url": "https://nfe.io/docs/desenvolvedores/rest-api/nota-fiscal-de-servico-v1/"
    }
  },
  "servers": [
    {
      "url": "https://api.nfe.io",
      "description": "Produção"
    }
  ],
  "paths": {
    "/v1/companies/{company_id}/serviceinvoices": {
      "post": {
        "summary": "Criar uma Nota Fiscal de Serviço",
        "tags": [
          "Notas Fiscais de Serviço"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da empresa"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceInvoiceCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nota fiscal criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceInvoiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro na requisição"
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      },
      "get": {
        "summary": "Listar Notas Fiscais de Serviço",
        "tags": [
          "Notas Fiscais de Serviço"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da empresa"
          },
          {
            "name": "pageCount",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Número de itens por página"
          },
          {
            "name": "pageIndex",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Índice da página"
          },
          {
            "name": "flowStatus",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Issued",
                "Pending",
                "Canceled"
              ]
            },
            "description": "Status da nota fiscal"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de notas fiscais de serviço",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalResults": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ServiceInvoiceResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado"
          }
        }
      }
    },
    "/v1/companies/{company_id}/serviceinvoices/{id}": {
      "get": {
        "summary": "Obter detalhes de uma Nota Fiscal de Serviço",
        "tags": [
          "Notas Fiscais de Serviço"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da empresa"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da nota fiscal"
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da nota fiscal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceInvoiceResponse"
                }
              }
            }
          },
          "404": {
            "description": "Nota fiscal não encontrada"
          }
        }
      },
      "delete": {
        "summary": "Cancelar uma Nota Fiscal de Serviço",
        "tags": [
          "Notas Fiscais de Serviço"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da empresa"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da nota fiscal"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "justification": {
                    "type": "string",
                    "description": "Justificativa do cancelamento"
                  }
                },
                "required": [
                  "justification"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nota fiscal cancelada com sucesso"
          },
          "404": {
            "description": "Nota fiscal não encontrada"
          }
        }
      }
    },
    "/v1/companies/{company_id}/serviceinvoices/{id}/pdf": {
      "get": {
        "summary": "Obter PDF da Nota Fiscal de Serviço",
        "tags": [
          "Notas Fiscais de Serviço"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da empresa"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da nota fiscal"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF da nota fiscal",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Nota fiscal não encontrada"
          }
        }
      }
    },
    "/v1/companies/{company_id}/serviceinvoices/{id}/xml": {
      "get": {
        "summary": "Obter XML da Nota Fiscal de Serviço",
        "tags": [
          "Notas Fiscais de Serviço"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da empresa"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da nota fiscal"
          }
        ],
        "responses": {
          "200": {
            "description": "XML da nota fiscal",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Nota fiscal não encontrada"
          }
        }
      }
    },
    "/v1/companies/{company_id}/serviceinvoices/{id}/email": {
      "post": {
        "summary": "Enviar Nota Fiscal de Serviço por email",
        "tags": [
          "Notas Fiscais de Serviço"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da empresa"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da nota fiscal"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "description": "Lista de emails para envio"
                  }
                },
                "required": [
                  "emails"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email enviado com sucesso"
          },
          "404": {
            "description": "Nota fiscal não encontrada"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ServiceInvoiceCreate": {
        "type": "object",
        "properties": {
          "cityServiceCode": {
            "type": "string",
            "description": "Código do serviço municipal"
          },
          "description": {
            "type": "string",
            "description": "Descrição dos serviços prestados"
          },
          "servicesAmount": {
            "type": "number",
            "format": "float",
            "description": "Valor total dos serviços"
          },
          "borrower": {
            "$ref": "#/components/schemas/Borrower"
          },
          "rpsNumber": {
            "type": "integer",
            "description": "Número do RPS (opcional)"
          },
          "issuedOn": {
            "type": "string",
            "format": "date-time",
            "description": "Data de emissão (opcional)"
          },
          "rpsSeriesNumber": {
            "type": "string",
            "description": "Série do RPS (opcional)"
          },
          "deductionsAmount": {
            "type": "number",
            "format": "float",
            "description": "Valor de deduções (opcional)"
          },
          "discountUnconditionedAmount": {
            "type": "number",
            "format": "float",
            "description": "Desconto incondicionado (opcional)"
          },
          "discountConditionedAmount": {
            "type": "number",
            "format": "float",
            "description": "Desconto condicionado (opcional)"
          },
          "irAmountWithheld": {
            "type": "number",
            "format": "float",
            "description": "Valor do IR retido na fonte (opcional)"
          },
          "pisAmountWithheld": {
            "type": "number",
            "format": "float",
            "description": "Valor do PIS retido na fonte (opcional)"
          },
          "cofinsAmountWithheld": {
            "type": "number",
            "format": "float",
            "description": "Valor do COFINS retido na fonte (opcional)"
          },
          "csllAmountWithheld": {
            "type": "number",
            "format": "float",
            "description": "Valor do CSLL retido na fonte (opcional)"
          },
          "inssAmountWithheld": {
            "type": "number",
            "format": "float",
            "description": "Valor do INSS retido na fonte (opcional)"
          },
          "issAmountWithheld": {
            "type": "number",
            "format": "float",
            "description": "Valor do ISS retido na fonte (opcional)"
          },
          "rateType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6
            ],
            "description": "Tipo de tributação (opcional)"
          },
          "issRate": {
            "type": "number",
            "format": "float",
            "description": "Alíquota de ISS (opcional)"
          },
          "irt": {
            "type": "boolean",
            "description": "Indicador de ISS retido (opcional)"
          },
          "reverseCharge": {
            "type": "boolean",
            "description": "Indicador de inversão do sujeito passivo (opcional)"
          },
          "specialTaxRegime": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6
            ],
            "description": "Regime especial de tributação (opcional)"
          },
          "constructionCode": {
            "type": "string",
            "description": "Código da obra (opcional)"
          },
          "cnaeCode": {
            "type": "string",
            "description": "Código CNAE (opcional)"
          },
          "matriculationCode": {
            "type": "string",
            "description": "Código de matrícula CEI (opcional)"
          },
          "municipalInscription": {
            "type": "string",
            "description": "Inscrição municipal (opcional)"
          },
          "stateInscription": {
            "type": "string",
            "description": "Inscrição estadual (opcional)"
          },
          "observations": {
            "type": "string",
            "description": "Observações (opcional)"
          },
          "batch": {
            "type": "boolean",
            "description": "Indica se a nota deve ser enviada em lote (opcional)"
          }
        },
        "required": [
          "cityServiceCode",
          "description",
          "servicesAmount",
          "borrower"
        ]
      },
      "Borrower": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome do tomador"
          },
          "federalTaxNumber": {
            "type": "string",
            "description": "CPF ou CNPJ do tomador"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email do tomador (opcional)"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "municipalInscription": {
            "type": "string",
            "description": "Inscrição municipal do tomador (opcional)"
          },
          "stateInscription": {
            "type": "string",
            "description": "Inscrição estadual do tomador (opcional)"
          },
          "culturalProjectSponsor": {
            "type": "boolean",
            "description": "Indica se é patrocinador de projeto cultural (opcional)"
          }
        },
        "required": [
          "name",
          "federalTaxNumber"
        ]
      },
      "Address": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "description": "País"
          },
          "postalCode": {
            "type": "string",
            "description": "CEP"
          },
          "street": {
            "type": "string",
            "description": "Logradouro"
          },
          "number": {
            "type": "string",
            "description": "Número"
          },
          "additionalInformation": {
            "type": "string",
            "description": "Complemento (opcional)"
          },
          "district": {
            "type": "string",
            "description": "Bairro"
          },
          "city": {
            "type": "string",
            "description": "Cidade"
          },
          "state": {
            "type": "string",
            "description": "Estado"
          }
        },
        "required": [
          "country",
          "postalCode",
          "street",
          "number",
          "district",
          "city",
          "state"
        ]
      },
      "ServiceInvoiceResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da nota fiscal"
          },
          "environment": {
            "type": "string",
            "description": "Ambiente (Production ou Development)"
          },
          "flowStatus": {
            "type": "string",
            "enum": [
              "Issued",
              "Pending",
              "Canceled"
            ],
            "description": "Status da nota fiscal"
          },
          "rpsType": {
            "type": "string",
            "description": "Tipo de RPS"
          },
          "rpsStatus": {
            "type": "string",
            "description": "Status do RPS"
          },
          "rpsNumber": {
            "type": "integer",
            "description": "Número do RPS"
          },
          "rpsSeriesNumber": {
            "type": "string",
            "description": "Série do RPS"
          },
          "number": {
            "type": "string",
            "description": "Número da nota fiscal"
          },
          "checkCode": {
            "type": "string",
            "description": "Código de verificação"
          },
          "issuedOn": {
            "type": "string",
            "format": "date-time",
            "description": "Data de emissão"
          },
          "canceledOn": {
            "type": "string",
            "format": "date-time",
            "description": "Data de cancelamento (se cancelada)"
          },
          "cityServiceCode": {
            "type": "string",
            "description": "Código do serviço municipal"
          },
          "federalServiceCode": {
            "type": "string",
            "description": "Código do serviço federal (LC116)"
          },
          "description": {
            "type": "string",
            "description": "Descrição dos serviços prestados"
          },
          "servicesAmount": {
            "type": "number",
            "format": "float",
            "description": "Valor total dos serviços"
          },
          "deductionsAmount": {
            "type": "number",
            "format": "float",
            "description": "Valor de deduções"
          },
          "discountUnconditionedAmount": {
            "type": "number",
            "format": "float",
            "description": "Desconto incondicionado"
          },
          "discountConditionedAmount": {
            "type": "number",
            "format": "float",
            "description": "Desconto condicionado"
          },
          "baseTaxAmount": {
            "type": "number",
            "format": "float",
            "description": "Base de cálculo"
          },
          "issRate": {
            "type": "number",
            "format": "float",
            "description": "Alíquota de ISS"
          },
          "issTaxAmount": {
            "type": "number",
            "format": "float",
            "description": "Valor do ISS"
          },
          "borrower": {
            "$ref": "#/components/schemas/Borrower"
          },
          "batchNumber": {
            "type": "string",
            "description": "Número do lote (se enviada em lote)"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key para autenticação. Formato: 'Bearer {api_key}'"
      }
    }
  },
  "security": [
    {
      "ApiKey": []
    }
  ]
}