{
  "openapi": "3.0.0",
  "info": {
    "title": "VNDA API",
    "description": "API for interacting with VNDA e-commerce platform",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.vnda.com.br"
    }
  ],
  "paths": {
    "/api/v2/orders": {
      "get": {
        "summary": "Get orders",
        "description": "Retrieves a list of orders from the platform. You can filter the results by several parameters.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Your API token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 300
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filter orders by specific IDs",
            "schema": {
              "type": "string"
            },
            "example": "1,2,3"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to sort the results by",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "created_at",
                "updated_at"
              ],
              "default": "id"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of sorting",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Filter by order reference",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tracking_code",
            "in": "query",
            "description": "Filter by tracking code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_name",
            "in": "query",
            "description": "Filter by customer name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_email",
            "in": "query",
            "description": "Filter by customer email",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_cpf",
            "in": "query",
            "description": "Filter by customer CPF",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "discount_code",
            "in": "query",
            "description": "Filter by discount code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by order status",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "paid",
                "canceled",
                "shipped",
                "unshipped",
                "delivered"
              ]
            }
          },
          {
            "name": "payment_method",
            "in": "query",
            "description": "Filter by payment method",
            "schema": {
              "type": "string",
              "enum": [
                "credit_card",
                "bank_slip",
                "pix",
                "free",
                "deposit",
                "paypal"
              ]
            }
          },
          {
            "name": "created_at_start",
            "in": "query",
            "description": "Filter by orders created after this date (ISO8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_at_end",
            "in": "query",
            "description": "Filter by orders created before this date (ISO8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_start",
            "in": "query",
            "description": "Filter by orders updated after this date (ISO8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_end",
            "in": "query",
            "description": "Filter by orders updated before this date (ISO8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "product_sku",
            "in": "query",
            "description": "Filter by product SKU",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_title",
            "in": "query",
            "description": "Filter by product title",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "reference": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "paid",
              "canceled",
              "shipped",
              "unshipped",
              "delivered"
            ]
          },
          "total": {
            "type": "number",
            "format": "float"
          },
          "discount": {
            "type": "number",
            "format": "float"
          },
          "shipping": {
            "type": "number",
            "format": "float"
          },
          "tax": {
            "type": "number",
            "format": "float"
          },
          "subtotal": {
            "type": "number",
            "format": "float"
          },
          "shipping_method": {
            "type": "string"
          },
          "shipping_carrier": {
            "type": "string"
          },
          "tracking_code": {
            "type": "string"
          },
          "tracking_url": {
            "type": "string"
          },
          "payment_method": {
            "type": "string"
          },
          "payment_installments": {
            "type": "integer"
          },
          "discount_code": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "shipped_at": {
            "type": "string",
            "format": "date-time"
          },
          "delivered_at": {
            "type": "string",
            "format": "date-time"
          },
          "canceled_at": {
            "type": "string",
            "format": "date-time"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          },
          "shipping_address": {
            "$ref": "#/components/schemas/Address"
          },
          "billing_address": {
            "$ref": "#/components/schemas/Address"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderEvent"
            }
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "cpf": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "sku": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "variant": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "OrderEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}