{
  "openapi": "3.0.0",
  "info": {
    "title": "Omie API",
    "description": "API de integração com o sistema Omie",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.omie.com.br/api/v1"
    }
  ],
  "paths": {
    "/geral/clientestransportadoras/": {
      "post": {
        "summary": "Clientes / Transportadoras",
        "operationId": "clientesTransportadoras",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string"
                  },
                  "app_key": {
                    "type": "string"
                  },
                  "app_secret": {
                    "type": "string"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/produtos/categorias/": {
      "post": {
        "summary": "Categorias de Produtos",
        "operationId": "categoriasProdutos",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string"
                  },
                  "app_key": {
                    "type": "string"
                  },
                  "app_secret": {
                    "type": "string"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/geral/cep/": {
      "post": {
        "summary": "CEP - Consulta por CEP ou Endereço",
        "operationId": "consultaCep",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string"
                  },
                  "app_key": {
                    "type": "string"
                  },
                  "app_secret": {
                    "type": "string"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/geral/clientes/": {
      "post": {
        "summary": "Clientes",
        "operationId": "clientes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string"
                  },
                  "app_key": {
                    "type": "string"
                  },
                  "app_secret": {
                    "type": "string"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/crm/contas/": {
      "post": {
        "summary": "Contas de Clientes (CRM)",
        "operationId": "contasClientes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string"
                  },
                  "app_key": {
                    "type": "string"
                  },
                  "app_secret": {
                    "type": "string"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/geral/departamentos/": {
      "post": {
        "summary": "Departamentos",
        "operationId": "departamentos",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string"
                  },
                  "app_key": {
                    "type": "string"
                  },
                  "app_secret": {
                    "type": "string"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/contabil/lancamentos/": {
      "post": {
        "summary": "Lançamentos Contábeis",
        "operationId": "lancamentosContabeis",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string"
                  },
                  "app_key": {
                    "type": "string"
                  },
                  "app_secret": {
                    "type": "string"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/produtos/familias/": {
      "post": {
        "summary": "Famílias de Produtos",
        "operationId": "familiasProdutos",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string"
                  },
                  "app_key": {
                    "type": "string"
                  },
                  "app_secret": {
                    "type": "string"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/financas/contacorrente/": {
      "post": {
        "summary": "Conta Corrente",
        "operationId": "contaCorrente",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string"
                  },
                  "app_key": {
                    "type": "string"
                  },
                  "app_secret": {
                    "type": "string"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/contabil/contascontabeis/": {
      "post": {
        "summary": "Plano de Contas",
        "operationId": "planoContas",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "call": {
                    "type": "string"
                  },
                  "app_key": {
                    "type": "string"
                  },
                  "app_secret": {
                    "type": "string"
                  },
                  "param": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}