{
  "openapi": "3.0.0",
  "info": {
    "title": "ElevenLabs API",
    "description": "ElevenLabs API for text-to-speech, voice cloning, voice design and audio processing",
    "version": "1.0.0",
    "contact": {
      "name": "ElevenLabs Support",
      "url": "https://elevenlabs.io/contact"
    }
  },
  "servers": [
    {
      "url": "https://api.elevenlabs.io/v1"
    }
  ],
  "paths": {
    "/text-to-speech/{voice_id}": {
      "post": {
        "summary": "Convert text to speech",
        "description": "Converts text into speech using a voice of your choice and returns audio.",
        "tags": [
          "Text to Speech"
        ],
        "parameters": [
          {
            "name": "voice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Voice ID to use for synthesis"
          },
          {
            "name": "xi-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Your API key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "The text that will be converted to speech"
                  },
                  "model_id": {
                    "type": "string",
                    "description": "The ID of the model that will be used"
                  },
                  "voice_settings": {
                    "type": "object",
                    "properties": {
                      "stability": {
                        "type": "number",
                        "format": "float",
                        "description": "Stability for the voice"
                      },
                      "similarity_boost": {
                        "type": "number",
                        "format": "float",
                        "description": "Similarity boost for the voice"
                      }
                    }
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio data",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/text-to-speech/{voice_id}/stream": {
      "post": {
        "summary": "Stream text to speech",
        "description": "Converts text into speech using a voice of your choice and returns audio as a stream.",
        "tags": [
          "Text to Speech"
        ],
        "parameters": [
          {
            "name": "voice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Voice ID to use for synthesis"
          },
          {
            "name": "xi-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Your API key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "The text that will be converted to speech"
                  },
                  "model_id": {
                    "type": "string",
                    "description": "The ID of the model that will be used"
                  },
                  "voice_settings": {
                    "type": "object",
                    "properties": {
                      "stability": {
                        "type": "number",
                        "format": "float",
                        "description": "Stability for the voice"
                      },
                      "similarity_boost": {
                        "type": "number",
                        "format": "float",
                        "description": "Similarity boost for the voice"
                      }
                    }
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio data stream",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/voices": {
      "get": {
        "summary": "Get voices",
        "description": "Gets a list of all available voices for a user.",
        "tags": [
          "Voices"
        ],
        "parameters": [
          {
            "name": "xi-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "List of voices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "voices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "voice_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Add voice",
        "description": "Creates a new voice.",
        "tags": [
          "Voices"
        ],
        "parameters": [
          {
            "name": "xi-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Your API key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the voice"
                  },
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Audio files to add to the voice"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the voice"
                  },
                  "labels": {
                    "type": "string",
                    "description": "Labels for the voice as a JSON string"
                  }
                },
                "required": [
                  "name",
                  "files"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Voice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "voice_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/voices/{voice_id}": {
      "get": {
        "summary": "Get voice",
        "description": "Gets information about a specific voice.",
        "tags": [
          "Voices"
        ],
        "parameters": [
          {
            "name": "voice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Voice ID to get info for"
          },
          {
            "name": "xi-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Voice info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "voice_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "category": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Voice not found"
          }
        }
      },
      "delete": {
        "summary": "Delete voice",
        "description": "Deletes a specific voice.",
        "tags": [
          "Voices"
        ],
        "parameters": [
          {
            "name": "voice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Voice ID to delete"
          },
          {
            "name": "xi-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Voice deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Voice not found"
          }
        }
      }
    },
    "/models": {
      "get": {
        "summary": "Get models",
        "description": "Gets a list of available models.",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "xi-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "List of models",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "models": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "model_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/subscription": {
      "get": {
        "summary": "Get user subscription",
        "description": "Gets information about the user's subscription.",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "xi-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tier": {
                      "type": "string"
                    },
                    "character_count": {
                      "type": "integer"
                    },
                    "character_limit": {
                      "type": "integer"
                    },
                    "next_character_count_reset_unix": {
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "xi-api-key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}