{
  "openapi": "3.0.0",
  "info": {
    "title": "Bling API",
    "description": "API para integração com o sistema Bling de gestão empresarial",
    "version": "3.0.0",
    "contact": {
      "email": "suporte@bling.com.br"
    }
  },
  "servers": [
    {
      "url": "https://www.bling.com.br/Api/v3",
      "description": "Servidor principal da Bling API v3"
    }
  ],
  "paths": {
    "/contatos": {
      "get": {
        "summary": "Listar contatos",
        "description": "Retorna uma lista de contatos",
        "operationId": "getContatos",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "description": "Número da página",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Número de registros por página",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContatosResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "summary": "Criar contato",
        "description": "Cria um novo contato",
        "operationId": "createContato",
        "requestBody": {
          "description": "Dados do contato",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contato"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contato criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContatoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/contatos/{id}": {
      "get": {
        "summary": "Obter contato",
        "description": "Retorna um contato específico",
        "operationId": "getContato",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do contato",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContatoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contato não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "put": {
        "summary": "Atualizar contato",
        "description": "Atualiza um contato existente",
        "operationId": "updateContato",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do contato",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Dados do contato",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contato"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contato atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContatoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Contato não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "delete": {
        "summary": "Excluir contato",
        "description": "Exclui um contato",
        "operationId": "deleteContato",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do contato",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Contato excluído com sucesso"
          },
          "404": {
            "description": "Contato não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/produtos": {
      "get": {
        "summary": "Listar produtos",
        "description": "Retorna uma lista de produtos",
        "operationId": "getProdutos",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "description": "Número da página",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Número de registros por página",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProdutosResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "summary": "Criar produto",
        "description": "Cria um novo produto",
        "operationId": "createProduto",
        "requestBody": {
          "description": "Dados do produto",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Produto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Produto criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProdutoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/vendas": {
      "get": {
        "summary": "Listar vendas",
        "description": "Retorna uma lista de vendas",
        "operationId": "getVendas",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "description": "Número da página",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limite",
            "in": "query",
            "description": "Número de registros por página",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "situacao",
            "in": "query",
            "description": "Situação da venda",
            "schema": {
              "type": "string",
              "enum": [
                "em andamento",
                "atendido",
                "cancelado",
                "aguardando"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operação bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendasResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "summary": "Criar venda",
        "description": "Cria uma nova venda",
        "operationId": "createVenda",
        "requestBody": {
          "description": "Dados da venda",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Venda"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Venda criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Dados inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Contato": {
        "type": "object",
        "properties": {
          "nome": {
            "type": "string",
            "description": "Nome do contato"
          },
          "tipoPessoa": {
            "type": "string",
            "enum": [
              "F",
              "J"
            ],
            "description": "Tipo de pessoa: F - Física, J - Jurídica"
          },
          "cpfCnpj": {
            "type": "string",
            "description": "CPF ou CNPJ do contato"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email do contato"
          },
          "telefone": {
            "type": "string",
            "description": "Telefone do contato"
          },
          "endereco": {
            "$ref": "#/components/schemas/Endereco"
          }
        },
        "required": [
          "nome"
        ]
      },
      "Endereco": {
        "type": "object",
        "properties": {
          "logradouro": {
            "type": "string",
            "description": "Nome da rua, avenida, etc."
          },
          "numero": {
            "type": "string",
            "description": "Número do endereço"
          },
          "complemento": {
            "type": "string",
            "description": "Complemento do endereço"
          },
          "bairro": {
            "type": "string",
            "description": "Bairro"
          },
          "cidade": {
            "type": "string",
            "description": "Cidade"
          },
          "uf": {
            "type": "string",
            "description": "Unidade federativa (estado)"
          },
          "cep": {
            "type": "string",
            "description": "CEP do endereço"
          }
        }
      },
      "Produto": {
        "type": "object",
        "properties": {
          "codigo": {
            "type": "string",
            "description": "Código do produto"
          },
          "descricao": {
            "type": "string",
            "description": "Descrição do produto"
          },
          "preco": {
            "type": "number",
            "format": "float",
            "description": "Preço do produto"
          },
          "estoque": {
            "type": "number",
            "format": "float",
            "description": "Quantidade em estoque"
          },
          "unidade": {
            "type": "string",
            "description": "Unidade de medida"
          },
          "situacao": {
            "type": "string",
            "enum": [
              "Ativo",
              "Inativo"
            ],
            "description": "Situação do produto"
          }
        },
        "required": [
          "descricao",
          "preco"
        ]
      },
      "Venda": {
        "type": "object",
        "properties": {
          "numero": {
            "type": "string",
            "description": "Número da venda"
          },
          "data": {
            "type": "string",
            "format": "date",
            "description": "Data da venda"
          },
          "contato": {
            "$ref": "#/components/schemas/ContatoRef"
          },
          "itens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemVenda"
            }
          },
          "formaPagamento": {
            "type": "string",
            "description": "Forma de pagamento"
          },
          "observacoes": {
            "type": "string",
            "description": "Observações da venda"
          }
        },
        "required": [
          "contato",
          "itens"
        ]
      },
      "ContatoRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID do contato"
          }
        },
        "required": [
          "id"
        ]
      },
      "ItemVenda": {
        "type": "object",
        "properties": {
          "produto": {
            "$ref": "#/components/schemas/ProdutoRef"
          },
          "quantidade": {
            "type": "number",
            "format": "float",
            "description": "Quantidade do produto"
          },
          "valor": {
            "type": "number",
            "format": "float",
            "description": "Valor unitário do produto"
          }
        },
        "required": [
          "produto",
          "quantidade",
          "valor"
        ]
      },
      "ProdutoRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID do produto"
          }
        },
        "required": [
          "id"
        ]
      },
      "ContatosResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contato"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ContatoResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Contato"
          }
        }
      },
      "ProdutosResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Produto"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ProdutoResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Produto"
          }
        }
      },
      "VendasResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Venda"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "VendaResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Venda"
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "pagina": {
            "type": "integer",
            "description": "Página atual"
          },
          "limite": {
            "type": "integer",
            "description": "Registros por página"
          },
          "total": {
            "type": "integer",
            "description": "Total de registros"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Mensagem de erro"
          },
          "code": {
            "type": "integer",
            "description": "Código do erro"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Token de acesso API Bling"
      }
    }
  }
}