{
  "openapi": "3.0.0",
  "info": {
    "title": "Bling API",
    "description": "API de integração com o sistema Bling ERP",
    "version": "3.0.0",
    "contact": {
      "email": "api@bling.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.bling.com.br/v3",
      "description": "Servidor de produção"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/contatos": {
      "get": {
        "summary": "Obter contatos",
        "description": "Obtém a lista de contatos",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Número da página"
          },
          {
            "name": "limite",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limite de registros por página"
          },
          {
            "name": "tipoContato",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "C",
                "F",
                "A",
                "T"
              ]
            },
            "description": "Tipo de contato (C: Cliente, F: Fornecedor, A: Ambos, T: Transportador)"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de contatos retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contato"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado"
          },
          "403": {
            "description": "Proibido"
          }
        }
      },
      "post": {
        "summary": "Criar contato",
        "description": "Cria um novo contato",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contato"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contato criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contato"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida"
          },
          "401": {
            "description": "Não autorizado"
          },
          "403": {
            "description": "Proibido"
          }
        }
      }
    },
    "/contatos/{idContato}": {
      "get": {
        "summary": "Obter contato",
        "description": "Obtém um contato específico",
        "parameters": [
          {
            "name": "idContato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do contato"
          }
        ],
        "responses": {
          "200": {
            "description": "Contato retornado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contato"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado"
          },
          "403": {
            "description": "Proibido"
          },
          "404": {
            "description": "Contato não encontrado"
          }
        }
      },
      "put": {
        "summary": "Atualizar contato",
        "description": "Atualiza um contato existente",
        "parameters": [
          {
            "name": "idContato",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do contato"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contato"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contato atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contato"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida"
          },
          "401": {
            "description": "Não autorizado"
          },
          "403": {
            "description": "Proibido"
          },
          "404": {
            "description": "Contato não encontrado"
          }
        }
      }
    },
    "/produtos": {
      "get": {
        "summary": "Obter produtos",
        "description": "Obtém a lista de produtos",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Número da página"
          },
          {
            "name": "limite",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limite de registros por página"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de produtos retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Produto"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado"
          },
          "403": {
            "description": "Proibido"
          }
        }
      },
      "post": {
        "summary": "Criar produto",
        "description": "Cria um novo produto",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Produto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Produto criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Produto"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida"
          },
          "401": {
            "description": "Não autorizado"
          },
          "403": {
            "description": "Proibido"
          }
        }
      }
    },
    "/produtos/{idProduto}": {
      "get": {
        "summary": "Obter produto",
        "description": "Obtém um produto específico",
        "parameters": [
          {
            "name": "idProduto",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do produto"
          }
        ],
        "responses": {
          "200": {
            "description": "Produto retornado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Produto"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado"
          },
          "403": {
            "description": "Proibido"
          },
          "404": {
            "description": "Produto não encontrado"
          }
        }
      },
      "put": {
        "summary": "Atualizar produto",
        "description": "Atualiza um produto existente",
        "parameters": [
          {
            "name": "idProduto",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID do produto"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Produto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Produto atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Produto"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida"
          },
          "401": {
            "description": "Não autorizado"
          },
          "403": {
            "description": "Proibido"
          },
          "404": {
            "description": "Produto não encontrado"
          }
        }
      }
    },
    "/vendas": {
      "get": {
        "summary": "Obter vendas",
        "description": "Obtém a lista de vendas",
        "parameters": [
          {
            "name": "pagina",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Número da página"
          },
          {
            "name": "limite",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limite de registros por página"
          },
          {
            "name": "situacao",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Em Aberto",
                "Em Andamento",
                "Concluída",
                "Cancelada"
              ]
            },
            "description": "Situação da venda"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de vendas retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Venda"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado"
          },
          "403": {
            "description": "Proibido"
          }
        }
      },
      "post": {
        "summary": "Criar venda",
        "description": "Cria uma nova venda",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Venda"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Venda criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Venda"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida"
          },
          "401": {
            "description": "Não autorizado"
          },
          "403": {
            "description": "Proibido"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Contato": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID do contato"
          },
          "nome": {
            "type": "string",
            "description": "Nome do contato"
          },
          "codigo": {
            "type": "string",
            "description": "Código do contato"
          },
          "tipoContato": {
            "type": "string",
            "enum": [
              "C",
              "F",
              "A",
              "T"
            ],
            "description": "Tipo de contato (C: Cliente, F: Fornecedor, A: Ambos, T: Transportador)"
          },
          "situacao": {
            "type": "string",
            "enum": [
              "A",
              "I"
            ],
            "description": "Situação do contato (A: Ativo, I: Inativo)"
          },
          "contribuinte": {
            "type": "string",
            "enum": [
              "1",
              "2",
              "9"
            ],
            "description": "Contribuinte (1: Contribuinte ICMS, 2: Contribuinte isento, 9: Não contribuinte)"
          },
          "documento": {
            "type": "string",
            "description": "CPF ou CNPJ do contato"
          },
          "ie": {
            "type": "string",
            "description": "Inscrição estadual"
          },
          "rg": {
            "type": "string",
            "description": "RG"
          },
          "endereco": {
            "$ref": "#/components/schemas/Endereco"
          },
          "telefone": {
            "type": "string",
            "description": "Telefone"
          },
          "celular": {
            "type": "string",
            "description": "Celular"
          },
          "email": {
            "type": "string",
            "description": "E-mail"
          },
          "dataNascimento": {
            "type": "string",
            "format": "date",
            "description": "Data de nascimento"
          }
        }
      },
      "Endereco": {
        "type": "object",
        "properties": {
          "logradouro": {
            "type": "string",
            "description": "Logradouro"
          },
          "numero": {
            "type": "string",
            "description": "Número"
          },
          "complemento": {
            "type": "string",
            "description": "Complemento"
          },
          "bairro": {
            "type": "string",
            "description": "Bairro"
          },
          "cidade": {
            "type": "string",
            "description": "Cidade"
          },
          "estado": {
            "type": "string",
            "description": "Estado (UF)"
          },
          "cep": {
            "type": "string",
            "description": "CEP"
          }
        }
      },
      "Produto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID do produto"
          },
          "codigo": {
            "type": "string",
            "description": "Código do produto"
          },
          "nome": {
            "type": "string",
            "description": "Nome do produto"
          },
          "descricao": {
            "type": "string",
            "description": "Descrição do produto"
          },
          "tipo": {
            "type": "string",
            "enum": [
              "P",
              "S"
            ],
            "description": "Tipo do produto (P: Produto, S: Serviço)"
          },
          "situacao": {
            "type": "string",
            "enum": [
              "A",
              "I"
            ],
            "description": "Situação do produto (A: Ativo, I: Inativo)"
          },
          "unidade": {
            "type": "string",
            "description": "Unidade de medida"
          },
          "precoCusto": {
            "type": "number",
            "description": "Preço de custo"
          },
          "precoVenda": {
            "type": "number",
            "description": "Preço de venda"
          },
          "estoque": {
            "type": "number",
            "description": "Quantidade em estoque"
          },
          "gtin": {
            "type": "string",
            "description": "Código GTIN/EAN"
          },
          "gtinEmbalagem": {
            "type": "string",
            "description": "Código GTIN/EAN da embalagem"
          },
          "marca": {
            "type": "string",
            "description": "Marca do produto"
          },
          "categoria": {
            "$ref": "#/components/schemas/Categoria"
          },
          "peso": {
            "type": "number",
            "description": "Peso do produto"
          },
          "altura": {
            "type": "number",
            "description": "Altura do produto"
          },
          "largura": {
            "type": "number",
            "description": "Largura do produto"
          },
          "profundidade": {
            "type": "number",
            "description": "Profundidade do produto"
          }
        }
      },
      "Categoria": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da categoria"
          },
          "nome": {
            "type": "string",
            "description": "Nome da categoria"
          }
        }
      },
      "Venda": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da venda"
          },
          "numero": {
            "type": "string",
            "description": "Número da venda"
          },
          "data": {
            "type": "string",
            "format": "date-time",
            "description": "Data da venda"
          },
          "dataSaida": {
            "type": "string",
            "format": "date-time",
            "description": "Data de saída"
          },
          "situacao": {
            "type": "string",
            "enum": [
              "Em Aberto",
              "Em Andamento",
              "Concluída",
              "Cancelada"
            ],
            "description": "Situação da venda"
          },
          "contato": {
            "$ref": "#/components/schemas/Contato"
          },
          "itens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemVenda"
            }
          },
          "valorTotal": {
            "type": "number",
            "description": "Valor total da venda"
          },
          "formaPagamento": {
            "type": "string",
            "description": "Forma de pagamento"
          },
          "observacoes": {
            "type": "string",
            "description": "Observações"
          }
        }
      },
      "ItemVenda": {
        "type": "object",
        "properties": {
          "produto": {
            "$ref": "#/components/schemas/Produto"
          },
          "quantidade": {
            "type": "number",
            "description": "Quantidade"
          },
          "valorUnitario": {
            "type": "number",
            "description": "Valor unitário"
          },
          "valorTotal": {
            "type": "number",
            "description": "Valor total"
          },
          "desconto": {
            "type": "number",
            "description": "Desconto"
          }
        }
      }
    }
  }
}